<div class="container">
  <h3>Crear un usuario</h3>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <label>
      Nombre: 
      <input type="text" formControlName="firstName">
    </label>
    <label>
      Apellido: 
      <input type="text" formControlName="lastName">
    </label>
    <label>
      Email: 
      <input type="text" formControlName="email">
    </label>
    <button class="button" type="submit">Guardar</button>

  </form>
</div>
<div>
  <p>{{ this.profileForm.value.name }}</p>
  <ul >
    <li></li>
  </ul>
</div>